*{
    margin:0;
    padding: 0;
}

.body-main{
    position: relative;
    z-index: 2;
    overflow: auto;
}
.lista-sin-punto{
    text-decoration: none;
}

.titulo {
    color: #daa520;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    background-color: #000;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0%;
    cursor: pointer; 
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.titulo span {
    display: inline-block;
}

.titulo:hover span {
    transform: translateX(10px);
}

.titulo:active {
    font-size: 55px;
}

.menu-navegacion {
    padding: 7px;
    margin: 10px;
	display: flex;
    justify-content: space-around;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #000;
    position: sticky;
}


.text-menu{
    color: white;
    font-style: italic;
    font-family: montserrat , Sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

P {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

.cuadro-texto {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.frase-cuadro-body {
    color: black(255, 255, 255);
    font-family: 'Scribble', cursive;
    font-size: 20px;
    margin: 0;
}


.imagen-container {
    margin-top: 80px; 
    border: 2px solid black; 
    overflow: hidden; 
    box-sizing: border-box; 
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto;
}

.imagen-container img {
    width: 100%;
    height: auto;
    display: block; 
}



.footer {
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

.h-footer{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px; 
    align-items: center;
    height: 70px;
    font-weight: bold;
    line-height: 1.4;
}
.lista-footer{
    list-style: none;
    line-height: 1.3;
}

.text-footer{
    text-decoration: none;
    color: #0000009a;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
}

.text-list-help{
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
}

.header-help{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px; 
    align-items: center;
    height: 70px;
    font-weight: bold;
    line-height: 1.4;
}

.div-help{
    width: 100px; 
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-help{
    border-radius: 10%;
    padding: 1px;
    background-color: black;
}


.formulario-centrar {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 300px; 
}

.formulario-contacto {
    text-align: center; 
    border: 2px solid #000;
    padding: 20px; 
}

.leyenda-formulario {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; 
}

.contenedores-formulario{
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}


nav ul li{
    list-style-type: none;
}

.bx-menu{
    color: white;
}

#check-menu, label{
    display: none;
}

.imagen-restringida {
    max-width: 100%;
    height: auto; 
}

.contenedor-principal-carousel-compra{
    width: 400px; 
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-cuadrado {
    width: 380px;
    height: 400px;
    margin-right: 20px;
    margin-left: 30px;
}

.carrusel-restringido {
    max-width: 100%; 
    margin: 0 auto; 
}

.informacion-compra{
    flex:1;
}

.linea-difuminada {
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, grey, #daa520, grey);
}

.video-fondo {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw; 
    height: 60vh; 
    overflow: hidden;
    top: -16px;
}

.video-fondo video {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}
.video-fondo:hover video {
    transform: scale(1.05); /* Escala el video al 105% cuando el mouse pasa por encima */
  }

/* MEDIA */

@media (max-width: 576px){
    .lista-nav-menu label{
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    
    .menu-navegacion{
        display: none;
    }

    .titulo{
        justify-content: center;
    }
    #check-menu:checked ~ .menu-navegacion{
        display: block;
        background-color: black;
    }
    
    .footer{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-principal-carousel-compra{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}