* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #130f40;
}

form .search-box {
  position: relative;
}

form .search-box .input-search {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  background-color: #22a6b3;
  color: #fff;
  transition: all .5s ease-in-out;
}

form .search-box .input-search::placeholder {
  color: #fff;
}

form .search-box .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  background-color: #22a6b3;
  color: #fff;
  cursor: pointer;
}

form .search-box .btn-search i {
  margin-top: 8px;
}

form .search-box .input-search:focus {
  width: 300px;
  background-color: transparent;
  box-shadow: 0px 0px 8px #22a6b3;
}

form .search-box .btn-search:focus {
  background-color: transparent;
}