<!DOCTYPE html>
<html>
<head>
    <title>Buscador de Recetas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Buscador de Recetas</h1>

    <form method="POST" action="/">
        <input type="text" name="user_input" placeholder="Ingrese los ingredientes...">
        <button type="submit">Buscar</button>
    </form>

    {% if message %}
        <h2>{{ message }}</h2>
        {% if recipe_data %}
            <div class="container">
                <div class="recipe-grid">
                    {% for recipe in recipe_data %}
                        <div class="recipe-item">
                            <h3 class="recipe-title">{{ recipe['title'] }}</h3>
                            <a href="{{ url_for('show_recipe', recipe_id=recipe['recipe_id']) }}">
                                <img src="{{ recipe['image_url'] }}" alt="{{ recipe['title'] }}" class="recipe-image">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</body>
</html>
