<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recetas con ingredientes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Recetas con ingredientes</h1>
      <div id="search-bar">
        <form id="search-form">
          <input id="search-input" type="text" name="user_input" placeholder="Ingresa tus ingredientes separados por comas" />
          <button id="search-button" type="submit"></button>
        </form>
      </div>
      <div id="recipe-list-container">
        <p id="message"></p>
        <div id="recipe-list"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
